[package]
name = "common"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[dependencies]
bevy = { workspace = true }
serde = { workspace = true }
lyon_geom = "1.0.18"
lyon_tessellation = "1.0.16"
serde_json = { workspace = true }
